<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-carplay-android-auto" version="0.0.1">
    <name>ToastyPlugin</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android auto,carplay,audio</keywords>
    <repo>https://github.com/mike-nelson/carplay-audroidauto.git</repo>
    <issue>https://github.com/mike-nelson/carplay-audroidauto/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/plugin-carplay-android-auto.js" name="plugin-carplay-android-auto">
        <clobbers target="window.plugins.carplayAndroidAutoPlugin" />
    </js-module>
    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                android:name="com.google.android.gms.car.application"
                android:resource="@xml/automotive_app_desc" />

            <service
            android:name="com.stanleyidesis.MyMusicService"
            android:exported="true">
                <intent-filter>
                    <action android:name="android.media.browse.MediaBrowserService" />
                </intent-filter>
            </service>
        </config-file> 


        <source-file src="src/android/MyMusicService.java" target-dir="src/com/stanleyidesis/" />
        <source-file src="src/android/ToastyPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
        <resource-file src="src/android/automotive_app_desc.xml" target="res/xml/automotive_app_desc.xml" />

        <framework src="src/android/mapbox.gradle" custom="true" type="gradleReference"/>
    </platform>

   <platform name="ios">
        <config-file target="config.xml" parent="/*">
        <feature name="CordovaCarplayPlugin">
            <param name="ios-package" value="CordovaCarplayPlugin" />
        </feature>
        </config-file>
		<config-file parent="com.apple.developer.playable-content" target="*/Resources/*.entitlements">
		    <true/>
		</config-file>
		<config-file parent="com.apple.developer.playable-content" target="*/Entitlements-Release.plist">
            <true/>
		</config-file>
		<config-file parent="com.apple.developer.playable-content" target="*/Entitlements-Release.plist">
            <true/>
		</config-file>
    
    <header-file src="src/ios/CordovaCarplayPlugin.h" />
    <source-file src="src/ios/CordovaCarplayPlugin.m" />
    <header-file src="src/ios/AppDelegate+CordovaCarplayPlugin.h" />
    <source-file src="src/ios/AppDelegate+CordovaCarplayPlugin.m" />
  </platform>

</plugin>